<h1><a href="/">All Pokemon</a></h2>
<div class="pokemon">
  <p>Pokemon's Name: <%= @pokemon.name %></p>
  <p>Pokemon's combat power: <%= @pokemon.cp %></p>
  <p>Pokemon's image: <%= @pokemon.img_url %></p>
  <p>Pokemon's poke_type: <%= @pokemon.poke_type %></p>
</div>
